// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


//Our color
$dark-blue: #0B1E44;
$sand: #D8D2CB;
$light-green: #65C18C;
$light-red: #e111 11;
$light-blue: #66BBE8;
