// Specific CSS for your home-page
body {
  background-color: white;
}

h1, h2 {
  font-family: $headers-font;
  color: $dark-blue;
}

.containerPerso {
  width: 70%;
}

p {
  font-family: $body-font;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}
