<div class="footer text-center">
  <%#  <div class="footer-copyright">
    This website was made with <i class="fas fa-heart"></i> by <a href="https://github.com/asion2000" class="member" target="_blank">Alexis</a>, <a href="https://github.com/CAMdch" class="member"  target="_blank">Camille</a> and <a href="https://github.com/E-Haynes" class="member"  target="_blank">Emily</a>
  </div> %>
  <div class="btn-group dropup">
  <button type="button" class="btn btn-secondary dropdown-toggle custom-button" data-bs-toggle="dropdown" aria-expanded="false">
    Made By
  </button>
  <ul class="dropdown-menu custom-dropdown">
     <li class="dropdown-item"><a href="https://github.com/CAMdch" class="member-drop" target="_blank">C Dauchy</a></li>
     <li class="dropdown-item"><a href="https://github.com/E-Haynes" class="member-drop" target="_blank">E Haynes</a></li>
     <li class="dropdown-item"><a href="https://github.com/asion2000" class="member-drop" target="_blank">A Sion</a></li>
  </ul>
   </div>
    <ul class="list-inline custom-list text-center">
      <li class="list-inline-item text-center"><a href="mailto:actionee@gmail.com" class="member" target="_blank">Contact Us</a></li>
      <li class="list-inline-item"><a href="mailto:actionee@gmail.com" class="member" target="_blank">Get In Touch</a></li>
      <li class="list-inline-item"><a class="member" href="https://www.euratechnologies.com/" target="_blank">Our Mission</a></li>
      <li class="list-inline-item"><a class="member" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Social</a></li>
    </ul>
</div>
