<div class="footer">
   <div class="footer-copyright">
    This website was made with <i class="fas fa-heart"></i> by <a href="https://github.com/asion2000" class="member" target="_blank">Alexis</a>, <a href="https://github.com/CAMdch" class="member"  target="_blank">Camille</a> and <a href="https://github.com/E-Haynes" class="member"  target="_blank">Emily</a>

  </div>
</div>
