<div class="footer">
   <%# <div class="footer-copyright">
    This website was made with <i class="fas fa-heart"></i> by <a href="https://github.com/asion2000" class="member" target="_blank">Alexis</a>, <a href="https://github.com/CAMdch" class="member"  target="_blank">Camille</a> and <a href="https://github.com/E-Haynes" class="member"  target="_blank">Emily</a>

  </div> %>

  <div class="contain">
    <div class="col-1">
      <ul>
        <li>About Us</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
        <li>Get in touch</li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li>Contact us</li>
        <li>Web chat</li>
        <li>Open ticket</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>

</div>
