<div class="container containerPerso" style="margin-top: 80px;">
  <div class="search-bar">
    <div class="form-outline">
      <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search a company..." />
    </div>
    <button id="search-button" type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>

</div>
