<div class="container containerPerso" style="margin-top: 80px;" data-controller="search">

  <div class="search-bar">
    <%= form_with url: companies_path, method: :get, html: { class:
    'mb-4', data: { search_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Search a company ...',
                     value: params[:query],
                     data: { search_target: 'input',
                             action: 'keyup->search#update'} %>
      <%= f.submit%>
    <%end%>
  </div>

  <div class="filter-choice">
    <a href="#" class="btn btn-filter"><i class="fas fa-filter"></i>  Filter</a>
    <p>Gender Equality</p>
    <p>Animal rights</p>
    <p>Eco-friendly</p>
  </div>

    <%= render 'companies_list', companies: @companies%>

</div>
