
.btn-bold {

  input, a {
    text-decoration: none;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    font-family: $body-font;
    padding: 11px 19px;
    border-radius: 0px;
    background: $dark-blue;
    &:hover {
      color: white;
      text-decoration: none;
      border: 100px, solid, white;
    }
  }

  text-decoration: none;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  font-family: $body-font;
  padding: 11px 19px;
  border-radius: 0px;
  background: $dark-blue;
  &:hover {
    color: $dark-blue;
    border: 1px solid $dark-blue;
    background-color: transparent;
    text-decoration: none;
  }

}
