.btn-bold a{
  text-decoration: none;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  font-family: $body-font;
  padding: 11px 19px;
  border-radius: 0px;
  background: $dark-blue;
}

.btn-bold:hover {
  font-weight: lighter;
}
