.btn-filter{
  background-color: $dark-blue;
  color:white;
  transition: 1s;
  &:hover {
    transition: 1s;
    background-color: transparent;
    border: 1px solid $dark-blue;
    color: $dark-blue;
    i {
      color: $dark-blue;
      transition: 1s;
    }
  }
}

.button-filter {
  width: 14%;
}

.container-filter {
  display: flex;
  width: 100%;
}

.filter {
  border-bottom: 1px solid $dark-blue;
  height: 26px;
}
