.card-company {
  border: 1px solid $light-green;
  margin: 35px 45px;
  position: relative;
}

.company-info{
  display: flex;

  img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin: 10px;
  }

  h3 {
    font-weight: bolder;
    margin: 20px;
  }

}

.card-company .stock-info {
  display: flex;
  justify-content: space-between;
  margin-left: 105px;
  margin-right: 105px;
  margin-bottom: 25px;
  margin-top:15px;
}

.card-company-little .stock-info {
  display: flex;
  justify-content: space-between;
  margin-left: 105px;
  margin-right: 47px;
  margin-bottom: 4px;
  margin-top:15px;
}

.card-company .stock-info, .card-company-little .stock-info {

  p {
    font-size: 23px;
    font-weight: bolder;
  }

  .stock-status {
    color: $light-green;
  }

  #pourcentage, #currency{
    font-size: 18px;
    font-weight: lighter;
  }
}



.add {
  position: absolute;
  top: 10px;
  right: 15px;
  a {
    color: black;
    transition: 0.5s;
    &:hover {
      font-size: 20px;
      transition: 0.5s;
    }
  }
}


.card-company-little {
  border: 1px solid $light-green;
  position: relative;

}


.graph-company img {
  width: 100%;
}

.companies {
  margin: 40px 0;
  a {
    text-decoration: none;
    color: $dark-blue;
  }
}

.companies-huge a {
  text-decoration: none;
  color: $dark-blue;
}
