.card-profile {
  border: 1px solid $light-green;
  margin: 50px 45px;
  position: relative;
  padding-bottom: 23px;
}


.company-profile-info{
  display: flex;

  img {
    position: absolute;
    top: -35px;
    left: -35px;
    border-radius: 50%;
    border: 0.1px solid rgba($color: black, $alpha: 0.1);
    background-color: white;
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin: 10px;
  }

  h3 {
    font-family: $headers-font;
    font-style: normal;
    margin-left: 70px;
    font-weight: 600;
    font-size: 23px;
    line-height: 40px;

    color: #000000;
  }

}

.card-profile {
  .stock-info {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 30px;
    margin-top: 15px;

    .stock-detail-row {
      align-items: center;
    }

    p {
      font-size: 23px;
      font-weight: bolder;
      margin: 0;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    #pourcentage, span{
      font-weight: 100;
      font-size: 14px;
    }

    .stock-number {
      text-align: end;
      padding-bottom: 5px;
      letter-spacing: 0.2em;
    }
    .stock-text {
      text-align: start;
      color: grey;
      letter-spacing: 5px;
      font-weight: 100;
      font-size: 12px;
    }
  }

  .stock-status {
    color: $light-green;
    position: absolute;
    top: 10px;
    right: 15px;
  }

  #buy-far, #buy-close, #sell {
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.2em;
    text-decoration: none;
  }


  #buy-far {
    color: $light-green;
    position: absolute;
    bottom: 5px;
    right: 95px;
  }
  #buy-close {
    color: $light-green;
    position: absolute;
    bottom: 360px;
    right: 15px;
  }

  #sell {
    color: $light-red;
    position: absolute;
    bottom: 5px;
    right: 15px;
  }

  .alert-stop-loss {
    border: 1px solid $light-red;
    padding: 15px;
    justify-content: center;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 15px;
    .fa-exclamation-triangle {
      color: $light-red;
      text-align: start;
      padding-right: 5px;
      font-size: 15px;
    }
    // this comment is highly uncessary just a problem with ghit hub I am trying to fix

    p {
      color: $light-red;
      align-self: flex-end;
      letter-spacing: 5px;
      font-weight: 100;
      font-size: 12px;
      margin: 0px;
    }

  }
  .fa-times {
    color: #a7a7a7;
    font-size: 15px;
    padding-left: 12px;
    text-align: end;
    cursor: pointer;
  }
  .fa-pen-nib {
    padding-left: 12px;
    cursor: pointer;
  }


}
