.card-company-green {
  border: 1px solid $light-green;
  margin: 35px 45px;
  position: relative;
}

.card-company-red {
  border: 1px solid $light-red;
  margin: 35px 45px;
  position: relative;
}

.stock-status-green {
  color: $light-green;
}

.stock-status-red {
  color: $light-red;
}


.company-info{
  display: flex;

  img {
    height: 70px;
    width: 70px;
    object-fit: contain;
    margin: 10px;
  }

  h3 {
    font-weight: 600;
    font-size:23px;
    margin: 20px;
  }

}

.card-company .stock-info {
  display: flex;
  justify-content: space-between;
  margin-left: 112px;
  margin-right: 105px;
  margin-bottom: 25px;
  margin-top:15px;
}

.card-company-little .stock-info {
  display: flex;
  justify-content: space-between;
  margin-left: 105px;
  margin-right: 47px;
  margin-bottom: 4px;
  margin-top:15px;
}

.card-company .stock-info, .card-company-little .stock-info {

  p {
    font-size: 27px;
    font-weight: bolder;
  }

  #pourcentage, #currency{
    font-size: 18px;
    font-weight: lighter;
  }
}



.add {
  position: absolute;
  top: 10px;
  right: 15px;
  a {
    color: black;
    transition: 0.5s;
    &:hover {
      font-size: 20px;
      transition: 0.5s;
    }
  }
}


.card-company-little-green {
  border: 1px solid $light-green;
  position: relative;

}

.card-company-little-red {
  border: 1px solid $light-red;
  position: relative;

}


.graph-company img {
  width: 100%;
}

.companies {
  margin: 40px 0;
  a {
    text-decoration: none;
    color: $dark-blue;
  }
}

.companies-huge a {
  text-decoration: none;
  color: $dark-blue;
}

.top-3-card {
  padding-left: 80px;
  margin-right: 135px;
  margin-bottom: 70px;
  padding-right: 80px;
  border: none;
  // .fas {

  // }
  .fa-arrow-up {
    color: $light-green;
  }
  .fa-arrow-down {
    color: $red;
  }

  .hierarchy {
    h1 {
      font-size: 82px;
      font-weight: 400;
      color: #0b1e44c9;
      padding-top: 10px;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #0b1e44c9;
    }
  }
}

.add {
  img {
    position: relative;
    height: 90px;
    width: 90px;
    object-fit: contain;
  }
  .arrow-company {
    position: absolute;
    top: -3px;
    right: -24px;
  }

}
//                       padding-right: 24px;
