.card_reason {
  border: 2px solid #D8D2CB;
  display: flex;
  align-items: center;
  padding: 55px 33px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 28%;
  border-radius: 2px;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    color: $dark-blue;
    font-weight: bold;
    font-size: 25px;
  }

  img {
    width: 90%;
    height: 110px;
    object-fit: cover;
  }

}

.card {
  width: 33%;
  height: 300px;
  float: left;
  perspective: 500px;
  border: 1px solid white;
}

.content {
  position: absolute;
  width: 93%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front, .back {
  position: absolute;
  width: 100%;
  background: white;
  color: $dark-blue;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY( 180deg );
  display: flex;
  align-items: center;
  height: 100%;
  p {
    font-size: 21px;
    padding: 0 15px;
  }
}
