.advice {
  color: $dark-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  border-bottom: 1px solid $sand;
}
.title-adice {
  display: flex;
  flex-direction: column;
  margin:  0 auto;
}

.our-advice {
  text-align: center;
}

.advice-status {
  font-weight: bolder;
  font-size: 25px;
  margin: 0;
}

.advice-green {

}


.pourcentage-value-green {
  color: $light-green;

}

.advice-red {

}


.advice-status-red, .pourcentage-value-red {
  color: $light-red;

}


.advice-expert {
  display: flex;
  align-items: center;
  .our-advice {
    margin-bottom: 0;
  }

  p {
    text-align: center;
  }
}

.advice-content {
  padding-right: 15px;
  .advice-buy {
    font-size: 40px;
    text-align: center;
  }
  .advice-pourcentage {
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
  }
}


.price {
  margin-left: 40px;
  width: 55%;
  p {
    margin: 0;
    font-size: 40px;
  }

  .currency-value, .pourcentage-value {
    font-weight: bolder;
    font-size: 40px;
  }

  .currency, .pourcentage{
    font-weight: lighter;
    font-size: 18px;
  }
}


.graph {
  width: 100%;
}

.community-advice h2{
  font-size: 30px;
  border-top: 1px solid $sand;
  margin-top: 30px;
  padding-top: 20px;
  font-weight: bolder;
}
