.card-news {
  border: 1px solid $sand;
  margin-bottom: 25px;
  .full-grey-gard {
    background-color: $sand;
    height: 35px;
    width: 200px;
    position: absolute;
  }
}

.text-news {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 45px;

  h4 {
    position: relative;
    top: 23px;
    color: $dark-blue;
    font-weight: bolder;
  }

  h3 {
    margin-top: 33px;
    margin-bottom: 15px;
    color: $dark-blue;
    font-weight: bolder;
    font-size: 20px;
  }

  p {
    font-family: $body-font;
    font-weight: lighter;
    font-size: 15px;
  }
}
