.footer {
  background-color: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
  width:100%;
  margin-top: 25px;
}

body {
	margin: 0;
}

.main-body {
	min-height: calc(100vh - 40px)
}


.footer-copyright {
  opacity: 0.8;
  color: white;
  text-decoration: none;
  text-align: center;

}

.custom-list a {
  color: white;
  text-decoration: none;
}

.footer-copyright a:hover {
  opacity: 1;
}

.member  {
  opacity: 0.8;
  font-family: $headers-font;
}

.member:hover  {
  opacity: 1;
  text-decoration-line: underline;
}


.fix-footer {
  min-height: calc(100vh - 100px);
}

.footer .fa-heart {
  color: white;
}

.custom-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
 .custom-button {
  background-color: $dark-blue;
  color: white;
  font-family: $headers-font;
 }
 .custom-button:hover {
  background-color: #66BBE8;
 }

 .custom-dropdown li a {
  color: $dark-blue;
  text-decoration: none;
 }
