// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "home_page";
@import "card_reason";
@import "underline_button";
@import "bold_button";
@import "card_company";
@import "card_profile";
@import "search_bar";
@import "btn_filter";
@import "footer";
@import "show_company";
@import "show_profil";
@import "btn_active_unactive";
@import "btn_follow";
@import "card_news";
@import "card_advice";
@import "form_review";
@import "track_form";
@import "card_user";
@import"tags";
@import"overview";
