// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "home_page";
@import "card_reason";
@import "underline_button";
@import "bold_button";
@import "card_company";
@import "search_bar";
@import "btn_filter";
@import "footer";
@import "show_company";
@import "btn_active_unactive";
@import "btn_follow";
@import "card_news";
