.below-navbar{
  padding-top: 85px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding: 0px;
}
.navbar-lewagon-blue {
  justify-content: space-between;
  background: $dark-blue;
}

.navbar-blue{
  background: $dark-blue;
}
.navbar-brand {
  h1 {
    color: white;
    font-family: $body-font;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    strong {
      color: $light-blue;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.fa-bars{
  color: white
}
.btn-navbar {
  color: white;
  font-family: $headers-font;
  font-size: 15px;
  text-decoration: none;
  transition: 1s;
  margin-right: 30px;
  &:hover{
    color: white;
    transition: 300ms;
  }

  &::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;
  }

  &:hover::after {
    width: 100%;
  }
}

.me-auto {
  height: 25px;
}

.discover-btn {
  margin-right: 30px;
}
// .navbar-lewagon .navbar-brand img {
//   // width: 40px;
// }

.btn-login {
  color: white;
  font-family: $headers-font;
  font-size: 15px;
  a {
    color: white;
    text-decoration: none;
    &:hover{
      color: white;
      transition: 300ms;
    }

    &::after {
      content: '';
      width: 0px;
      height: 1px;
      display: block;
      background: white;
      transition: 300ms;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.favorites-company {
  display: flex;
  align-items: center;
}


.user-gains {
  display: flex;
  color: white;
  p {
    font-family: $headers-font;
    font-size: 15px;
    margin-bottom: 0;
  }
  .company-name {
    margin-right: 15px;
  }
}


.favorite-company {
  margin-left: 15px;
  margin-right: 76px;
}

.company-pourcentage {
  font-family: $headers-font;
  font-size: 15px;
  margin-bottom: 0;
  color: $light-green
}

.company-pourcentage-green {
  color: $light-green
}

.company-pourcentage-red {
  color: $light-red
}
