.search-bar {

    input {
      border: none;
      color: #CCCCCC;
      height: 42px;
      width: 89%;
      background-color: #F4F4F4;
    }



  #btn-search {
    background-color: $dark-blue;
    height: 42px;
    width: 10%;
    transition: 1s;
    border: none;
    i {
      color: white;
      font-size: 27px;
      transition: 1s;
    }

    &:hover {
      transition: 1s;
      background-color: transparent;
      border: 1px solid $dark-blue;
      color: $dark-blue;
      i {
        color: $dark-blue;
      }
    }


  }
}


.filter-choice {
  display: flex;
  margin: 15px 0;
  align-items: center;
  p {
    margin: 0 30px;
    text-align: center;
    margin-bottom: 9px
  }

}
