.track_form{
  width: 100%;
  padding: 0 25px;
  label {
    color: black;
    letter-spacing: 5px;
    font-weight: 800;
    font-size: 12px;
  }
  .btn {
    text-align: end;
  }
  input {
    border: 0;
  }
  a {

    text-align: end;
  }
  .buy {
    color: $light-green;
    font-weight: bolder;
    font-size: 25px;
  }
  .sell {
    color: $light-red;
    font-weight: bolder;
    font-size: 25px;
  }
}
a {
  cursor: pointer;
}
